.about-page {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fdfdfd;
    color: #333;
  }
  
  /* Banner */
  .about-banner {
    position: relative;
    text-align: center;
  }
  
  .banner-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(0.75);
  }
  
  .banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    font-weight: bold;
  }
  .banner-title .highlight {
    color: #ff6f00; /* "Us" in orange */
  }
  
  /* Who We Are */
  .about-section {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 40px;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  
  .text-content {
    max-width: 600px;
  }
  
  .text-content h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .text-content p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 25px;
  }
  
  .highlight {
    color: #FAA935;
  }
  
  .about-image {
    width: 400px;
    max-width: 90%;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  /* Services Section */
  .services-section {
    padding: 40px;
    background-color: #f4f1ec;
    text-align: center;
  }
  
  .services-section h3 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #FAA935;
    
  }
  
  .services-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .service-card {
    background-color: white;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(255, 111, 0, 0.3);
    width: 300px;
    text-align: center;
    transition: transform 0.2s ease;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
  }

  .card-content {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .service-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0px;
  }
  
  .service-card h4 {
    font-size: 18px;
    color: #333;
    margin: 0;
    white-space: nowrap;
    
  }

  .card-subtext {
    font-size: 14px;
    color: #6E7070;
    margin-top: 8px;
    line-height: 1.4;
    text-align:left;
  }
  