.tour-card {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  text-align: center;
}

.tour-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.rating-review {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Add space between stars and review count */
  margin-top: 10px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Increase this value for larger stars */
}

.rating span {
  color: gold;
  margin-right: 2px;
  font-size: 24px; /* You can increase this to make stars bigger */
}

.review-count {
  color: black; /* Reviews text color */
  font-size: 14px;
  
}
.city-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.city-link:hover {
  color: orange; /* Highlight city name in orange on hover */
}
